In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import warnings
warnings.filterwarnings("ignore")

from src import soporte_eda as sp1

In [2]:
df_activity = sp1.apertura_exploracion("Customer Flight Activity")

-----

El DataFrame tiene 405624 filas y 10 columnas.
-----

El número de filas duplicadas es 1864
-----

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB
-----

Estadísticas descriptivas:

In [3]:
df_history = sp1.apertura_exploracion("Customer Loyalty History")

-----

El DataFrame tiene 16737 filas y 16 columnas.
-----

El número de filas duplicadas es 0
-----

Información del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB
-----

Estadísticas descriptivas:

In [4]:
sp1.eliminar_duplicados(df_activity)

El df tiene 405624 filas y 405624 columnas.
Duplicados en df: 1864
Eliminando filas duplicadas
Comprobamos que los duplicados se hayan eliminado.
Duplicados en df: 0

'El df tiene 403760 filas y 403760 columnas.'

In [5]:
df_activity_limpio = sp1.eliminar_irrelevantes(df_activity, "Total Flights")

El df tiene 405624 filas y 10 columnas.
El df contiene 207632 filas y 10 columnas con datos relevantes en la variable Total Flights.
Eliminando filas irrelevantes
El df tiene 207632 filas y 10 columnas.

In [6]:
sp1.union_cvs(df_activity_limpio, df_history)

Uniendo los df
El nuevo df tiene 207632 filas y 25 columnas.
Guardando archivo como Full Loyalty Program.csv